<div class="sidebar vh-100 d-flex flex-column">
    <a href="#" class="text-white text-decoration-none p-3 d-flex align-items-center">
        <span class="material-icons me-2">home</span> Mi perfil
    </a>
    <a href="#" class="text-white text-decoration-none p-3 d-flex align-items-center">
        <span class="material-icons me-2">person</span> Usuario
    </a>
    <a [routerLink]="'/inventario'" class="text-white text-decoration-none p-3 d-flex align-items-center">
        <span class="material-icons me-2">mail</span> Inventario
    </a>
    <a href="#" class="text-white text-decoration-none p-3 d-flex align-items-center">
        <span class="material-icons me-2">settings</span> Menu
    </a>
    <a href="#" class="text-white text-decoration-none p-3 d-flex align-items-center">
        <span class="material-icons me-2">logout</span> Ajustes
    </a>
    <a href="#" class="text-white text-decoration-none p-3 d-flex align-items-center">
        <span class="material-icons me-2">logout</span> Logout
    </a>
</div>