.sidebar .item:hover {
  background-color: #d2d2d2; /* Color de fondo al pasar el ratón */
}

.sidebar .material-icons {
  color: #000000; 
}

.mt-auto {
  margin-top: auto;
}

.sidebar .item .active {
  background-color: #cba836;
  color: white;
}

