.btn-image {
  border: 2px solid #Fce8b1;
  border-radius: 0.375rem;
  padding: 0;
  background-color: #f8f9fa;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: #Fce8b1;
    border-color: #Fce8b1;
    color: #fff;
    opacity: 0.8;
  }

  &:active {
    background-color: #Fce8b1;
    border-color: #Fce8b1;
  }
}