.btn-image {
    border: 2px solid #007bff; /* Borde azul */
    border-radius: 0.375rem; /* Bordes redondeados */
    padding: 0; /* Eliminar el padding predeterminado */
    background-color: #f8f9fa; /* Color de fondo claro */
    transition: all 0.3s ease; /* Transición suave para efectos de hover */
    cursor: pointer;

    /* Estilo cuando el mouse está sobre la imagen */
    &:hover {
      background-color: #007bff; /* Color de fondo azul */
      border-color: #0056b3; /* Borde azul oscuro */
      color: #fff; /* Texto blanco */
      opacity: 0.8; /* Ligera opacidad */
    }
  
    /* Estilo cuando la imagen está activa */
    &:active {
      background-color: #0056b3; /* Fondo azul oscuro */
      border-color: #003d7a; /* Borde azul muy oscuro */
    }
  }
  