.login-container {
  max-width: 500px; 
  margin: 0 auto; 
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
  border-radius: 10px; 

  .login-form {
    width: 100%;
    background-color: #fce8b1;
    padding: 20px;
    border: 1px solid #fce8b1;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h2 {
      margin-top: 0;
      font-weight: bold;
      color: #333;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-control {
      width: calc(100% - 20px);
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 25px;
      display: inline-block; 
      vertical-align: middle;
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      color: #666;
    }

    button[type="submit"] {
      width: 50%;
      height: 30px;
      padding: 10px;
      background-color: #cba836;
      color: #fff;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      display: block; /* Cambiado a block para ocupar todo el ancho disponible */
      margin: 0 auto; /* Centra horizontalmente */
    }
    

    button[type="submit"]:hover {
      background-color: #cba836;
    }
  }
}
