.container-dashboard {
    position: relative;
    background: #DEEDEA;
    background-image: url('/assets/img/fondo.png');
    background-position: center;
    background-blend-mode: multiply;
}

.container-sidebar {
    background: #Fce8b1;
}